.header__content {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    box-shadow: 5px 5px 25px 5px #2b2b2b4a;

    &-swiper {
        display: flex;
        transition: transform 0.5s ease;
        cursor: grab;
        &-slide {
            min-width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 150px 40px;
            background: url("../img/bg.webp") center/cover no-repeat;

            & h4 {
                font-size: 25px;
            }

            & h2 {
                font-size: 35px;
            }

            & p {
                font-size: 20px;
            }
        }
        &:active {
            cursor: grabbing;
        }
    }
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #2b2b2b;
    font-size: 50px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.btn-prev {
    left: 5px;
}

.btn-next {
    right: 5px;
}

.pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;

    .pagination-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ddd;
        cursor: pointer;
        transition: 0.8s;

        &.active {
            width: 50px;
            border-radius: 10px;
            background-color: #333;
        }
    }
}
